body, h1, h2, h3, h4, h5, h6, span, p
{
	color: #333;
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: normal;
}

h1, h2, h3, h4, h5, h6
{
	font-weight: 300;
}


h1, h2, h3, h4
{
	margin-top: 1em;
}

h1
{
	font-size: 54px;
	font-weight: 200;
	margin-bottom: 1em;
	text-align: center;
}

h1.pretty-font, h1 span.pretty-font
{
	font-family: 'Great Vibes', cursive;
	font-size: 66px;
	/*font-weight: 400;*/
}

h2
{
	font-size: 36px;
	margin-bottom: 0.5em;
}

h3
{
	font-size: 28px;
	margin-bottom: 0.6em;
}

h4
{
	font-size: 22px;
	font-style: italic;
	margin-bottom: 0.71em;
}

h5
{
	color: #666;
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 0.25em;
	text-transform: uppercase;
}

h6
{
	font-size: 14px;
	font-weight: bold;
}

blockquote
{
	color: #4c4c4c;
	font-style: italic;
	border-left: 3px solid #d0d0d0;
	margin-left: 12px;
	padding: 0 12px 0 10px;
}

pre, code, .fixed-width-font
{
	font-family: consolas, monospace;
	font-size: 16px;
}

textarea.standard-size
{
	/*height: 344px;*/
	min-height: 80px;
	resize: vertical;
}

.no-margin-top
{
	margin-top: 0;
}

.ui-select-fix
{
	line-height: 1.8;
}

#HiddenEditor
{
	background-color: #f9f9f9;
	margin: 0 15px 15px -15px;
	position: fixed;
	top: -1200px;
	z-index: 10;
}


/*************************************************
*** Print
*************************************************/

@media print {
	body, h1, h2, h3, h4, h5, h6, span, p
	{
		font-size: 12pt;
	}

	h1, h2, h3, h4, h5, h6
	{
		font-weight: 300;
	}

	h1
	{
		font-size: 36pt;
		font-weight: 200;
		margin-bottom: 1em;
	}

	h2
	{
		font-size: 24pt;
		margin-bottom: 0.5em;
	}

	h3
	{
		font-size: 18pt;
		margin-bottom: 0.6em;
	}

	h4
	{
		font-size: 14pt;
		margin-bottom: 0.71em;
	}

	h5
	{
		font-size: 12pt;
		margin-bottom: 0.25em;
	}

	h6
	{
		font-size: 10pt;
	}

	pre, code, .fixed-width-font
	{
		font-size: 10pt;
	}
}