<div class="row">
	<div class="col-sm-12 text-center">
		<h1>Markdown <span class="pretty-font">Pretty</span></h1>
	</div>
</div>

<div class="row">
	<div class="col-sm-12 text-left">
		<h2 class="no-margin-top">Markdown Input</h2>
	</div>
</div>

<!-- <div class="row">
	<div class="col-sm-12 text-left">
		<p class="help-block">Upload a file or copy/paste markdown text.</p>
	</div>
</div> -->

<form role="form">
	<!-- <div class="form-group">
		<label for="inputFile">File Input</label>
		<input type="file" id="inputFile">
	</div> -->

	<div class="form-group">
		<!-- <label for="inputText">Text Input</label> -->
		<textarea id="inputText" class="form-control fixed-width-font" rows="15" ng-model="inputText"></textarea>
	</div>

	<button type="submit" class="btn btn-primary" ng-click="updatePreviewPane()">Generate Output</button>
	<button type="submit" class="btn btn-primary" ng-click="openPrintView()">Open Print View</button>
	<!-- <button type="submit" class="btn btn-success" ng-click="toggleOptions()">{{optionsButtonText}}</button> -->
</form>

<br>

<div ng-show="areOptionsVisible">
	<!-- <div class="row">
		<div class="col-sm-12 text-left">
			<h2>Options</h2>
		</div>
	</div> -->

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"><strong>Options</strong></h3>
		</div>
		<div class="panel-body">
			<ui-select ng-model="language.selected" theme="bootstrap" reset-search-input="false" style="width: 300px;">
				<ui-select-match placeholder="Select a Language...">{{$select.selected.name}}</ui-select-match>
				<ui-select-choices repeat="language in languages | filter: $select.search">
					<span ng-bind-html="language.name | highlight: $select.search"></span>
				</ui-select-choices>
			</ui-select>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12 text-left">
		<h2>HTML Output</h2>
	</div>
</div>

<div class="panel panel-default" ng-hide="hasHtmlOutput">
	<div class="panel-body">
		<em>No HTML output.</em>
	</div>
</div>

<div class="panel panel-default" ng-show="hasHtmlOutput">
	<div class="panel-body">
		<div id="HtmlOutput" ng-bind-html="htmlOutput"></div>
	</div>
</div>