<div class="row">
	<div class="col-sm-12 text-center">
		<h1>Markdown Pretty</h1>
	</div>
</div>

<div class="row">
	<div class="col-sm-12 text-left">
		<h2 class="no-margin-top">Markdown Input</h2>
	</div>
</div>

<!-- <div class="row">
	<div class="col-sm-12 text-left">
		<p class="help-block">Upload a file or copy/paste markdown text.</p>
	</div>
</div> -->

<form role="form">
	<!-- <div class="form-group">
		<label for="inputFile">File Input</label>
		<input type="file" id="inputFile">
	</div> -->

	<div class="form-group">
		<!-- <label for="inputText">Text Input</label> -->
		<textarea id="inputText" class="form-control fixed-width-font" rows="15" ng-model="inputText"></textarea>
	</div>

	<button type="submit" class="btn btn-primary" ng-click="updatePreviewPane()">Generate Output</button>
	<button type="submit" class="btn btn-primary" ng-click="openPrintView()">Open Print View</button>
</form>

<br>

<div class="row">
	<div class="col-sm-12 text-left">
		<h2>HTML Output</h2>
	</div>
</div>

<!-- <hr>

<div class="row" ng-hide="hasHtmlOutput">
	<div class="col-sm-12">
		<em>No HTML output.</em>
	</div>
</div>

<div class="row" ng-show="hasHtmlOutput">
	<div class="col-sm-12">
		<div ng-bind-html="htmlOutput"></div>
	</div>
</div> -->

<div class="panel panel-default" ng-hide="hasHtmlOutput">
	<div class="panel-body">
		<em>No HTML output.</em>
	</div>
</div>

<div class="panel panel-default" ng-show="hasHtmlOutput">
	<div class="panel-body">
		<div ng-bind-html="htmlOutput"></div>
	</div>
</div>